<div class="wrapper">
  <header>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light ">
        <a class="navbar-brand" href="#">Minim&#248;</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">LifeStyle</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">PhotoDiary</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Musik</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Travel</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <app-slider></app-slider>
  <div class="grid-posts">
    <div class="container">
    <div class="row">

      <app-stick class="col-md-6"
     *ngFor="let item of sticks"
     [stick] = "item"
      ></app-stick>
      
    </div>
  </div>
  
  </div>
  <app-form></app-form>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="single-post">
          <h3 class="post-category">
            PhotoDiary
          </h3>
          <h2 class="post-title">
            <a href="#"> The perfect weekend getaway</a>
          </h2>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae aliquid esse dolorem accusantium,
            cumque,
            impedit, architecto reprehenderit quidem autem modi obcaecati numquam recusandae sed culpa vitae aperiam.
            Assumenda quas animi facilis nulla inventore autem possimus reiciendis labore optio modi, commodi nam
            itaque temporibus dolor neque, aperiam, provident magnam minus voluptatum illum. Cumque iusto dicta velit
            quae aspernatur deserunt illum in quia eveniet sint. Ex deserunt at temporibus dignissimos quaerat
            adipisci obcaecati ea consectetur minima culpa velit eos enim asperiores pariatur perferendis praesentium,
            maxime modi quia accusamus molestiae cumque voluptate
            totam delectus! Praesentium perspiciatis, quos mollitia quasi autem fugit voluptatum vitae.
          </p>
          <p>
            <a href="#" class="link-more">Leave a comment</a>
          </p>
        </div>
      </div>
    </div>
  </div>

 

  

  <div class="container">
    <div class="row" *ngIf="toggle;else noCards">
      <app-smallcard class="col-md-3"
      *ngFor="let item of smallcards;let idx = index" 
       [smallcard]="item" 
       [index]=idx+1></app-smallcard>
    </div>
    <hr>
    <button (click)="toggleCards()" class="btn btn-outline-secondary">Toggle Cards</button>
    <ng-template #noCards>
      <div class="alert alert-light" role="alert">
        <h4>Cards are hidden</h4>

      </div>
    </ng-template>
    <hr>
  </div>
  

  <footer>
    <div class="container">
      <div class="d-sm-flex justify-content-between">
        <div class="footer-left">
          <a href="#">Terms and conditions</a>
          <a href="#">Privacy</a>
        </div>
        <div class="footer-right">
          <span>Follow</span>
          <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i> </a>
        </div>
      </div>
    </div>
  </footer>
</div>
